

#main-container{
    color: black;
    font-family: Marker Felt, fantasy;
    background-image: url('./../../assets/images/foodPic.jpg');
    min-height: 70%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: 70vh;
        
    /* Set up positioning */

   
}

#cards-container{
      display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

    #search-result-container{
        border: 1px solid blue;
        margin: 10px;
    }
}

#cards-container:after {
  content: "";
  flex: auto;
}
