.navbar-main-container{
        background-color: #C0E0DE;
        width: 100vw;

        ul{
            display: flex;
            height: 50px;

            #button-li{
                display: flex;
                align-items: center;


                #instruction-navbar{
                    background-color: white;
                    padding:  0 10px;
                    border: solid #D4AF37 3px;
                    border-radius: 50px;
                    text-align: center;
                    height: 50%;
                }

                li{
                    list-style-type: none;
                    margin: 0 2vw;
                    font-size: 3vh;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                }
            }
            
        }

        li:hover{
            background-color: #80cbfa;
        }
        #navbar-button{
            display: none;
        }


       /*  @media only screen and (max-width: 500px){
            #navbar-button{
                display: block;
            }
            ul{
                flex-direction: column;
                #button-li{
                    align-items: center;
                    flex-direction: column;
                }
                li{
                    margin: 0;
                }
            }
            
        } */
    }