.search-bar-container{
    /* position: absolute; */
    width: 100%;  
    text-align: center;
    padding-top: 20vh;;


    #search-bar{
        width: 500px;
        height: 50px;
        border: 1px solid lightgray;
        margin: 10px 0px;;
        padding: 5px 20px;
        border-radius: 4px;
        transition: border-color 200ms;
        box-sizing: border-box;
        background: #fafafa; 
    }
    #search-bar:hover{
        background-color: #fff;
        color: #171718;
        border-color: lightgray;
    }
    #search-bar:focus{
        border-color:rgb(3, 0, 200);
        background-color: white;
    }

    #search-bar-submit-button{
        background-color: white;
        padding:  0 10px;
        border: solid #D4AF37 3px;
        border-radius: 30px;
        text-align: center;
        height: 50px;
    }

}

